<section class="bg-accent 2xl:pl-40 xl:pl-20 md:pl-4 pl-2 md:pb-0 pb-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-5 items-center">
    <div class="md:order-1 order-2">
      <h1
        class="text-secondary-100 lg:text-5xl text-2xl font-semibold lg:mb-5 mb-3"
      >
        Learn with expert <br />
        <span class="text-primary">anytime, anywhere</span>
      </h1>

      <p class="text-secondary-100 lg:text-lg text-sm lg:mb-8 mb-5">
        Our mision is to help people to find the best course <br />
        online and learn with expert anytime, anywhere.
      </p>

      <app-button [title]="'Create account'" (onClick)="handleClick()" />
    </div>

    <div class="md:order-2 order-1">
      <img
        src="/assets/images/hero-banner.png"
        alt="hero"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
</section>
