<ul
  class="flex items-center md:flex-nowrap flex-wrap md:justify-end justify-center md:gap-6 gap-3 bg-accent md:py-5 py-2 2xl:px-40 xl:px-20 md:px-4 px-2"
>
  <li *ngFor="let link of navLinks">
    <a
      [routerLink]="link.path"
      routerLinkActive="!text-[#ff6636] font-semibold"
      [routerLinkActiveOptions]="{ exact: true }"
      class="transition md:text-base text-sm font-medium text-secondary-100 hover:text-primary duration-300"
    >
      {{ link.label }}
    </a>
  </li>
</ul>
