<section class="mb-10">
  <app-banner [title]="'Blog'" />

  <p class="2xl:px-40 xl:px-20 md:px-4 px-2 text-gray-600 text-justify">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui corporis, iusto
    est blanditiis reprehenderit veritatis, facilis quam aliquid dolores
    nesciunt vel expedita esse aspernatur! Enim quia veritatis, exercitationem
    iusto numquam voluptatum magnam et, ducimus ullam rem quam quas accusamus
    sunt mollitia iste. Unde et eum necessitatibus libero nam consequuntur
    recusandae ipsa aperiam odio, natus aliquam ut eius dolore sunt iure rerum
    laboriosam autem officiis adipisci sint dolores mollitia nisi. Adipisci ea
    assumenda, possimus, velit, ipsa temporibus corrupti nulla incidunt
    molestiae minima aliquid dolorum fugiat tempore exercitationem sapiente
    commodi dolorem minus qui in et! Eligendi, vero doloremque id labore rerum
    provident.
  </p>
</section>
