<section class="bg-accent 2xl:px-40 xl:px-20 md:px-4 px-2 py-10">
  <app-heading [title]="'Best selling courses'" [isBorder]="true" />
  <div
    class="grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6"
  >
    <app-card
      *ngFor="let course of courseData.slice(0, 8); let i = index"
      [rating]="course.rating"
      [price]="course.price"
      [title]="course.title"
      [student]="course.student + ' students'"
      [link]="'/courses/' + course.title"
      [titleClass]="
        (i === 0
          ? 'bg-secondary text-primary'
          : i === 1
          ? 'bg-secondary-75 text-blue-500'
          : i === 2
          ? 'bg-success text-success-100'
          : i === 3
          ? 'bg-secondary-75 text-secondary-30'
          : i === 4
          ? 'bg-error text-error'
          : i === 5
          ? 'bg-warning text-warning'
          : i === 6
          ? 'bg-secondary-75 text-secondary-30'
          : 'bg-success text-success-100') + ' px-2 py-1 text-sm capitalize'
      "
      [image]="course.img"
      [description]="course.desc"
    />
  </div>
</section>
