<section class="">
  <!-- Banner -->
  <div
    class="2xl:px-40 xl:px-20 md:px-4 px-2 bg-success h-64 py-10 flex flex-col justify-center mb-10"
  >
    <h1 class="md:text-3xl text-xl font-bold text-secondary-100 mb-4">
      The Complete 2021 Web Development Bootcamp
    </h1>

    <div class="flex items-center gap-2 mb-2 flex-wrap">
      <app-icon-star
        *ngFor="let star of [1, 2, 3, 4, 5]"
        class="text-primary"
      />
      <span class="text-secondary-100 font-semibold text-sm"
        >(79.2% of students gave a 5 rating at the end of the course)</span
      >
    </div>

    <p class="text-gray-600 md:text-lg text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      <br />
      voluptas. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    </p>
  </div>

  <!-- Course Details -->
  <div class="2xl:px-40 xl:px-20 md:px-4 px-2">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:gap-8 gap-4">
      <!-- Left Info -->
      <div class="md:col-span-2 space-y-8">
        <!-- Course Constructor Info -->
        <div>
          <app-heading
            [title]="'Course Constructor'"
            class="text-2xl font-semibold text-secondary-100 capitalize flex justify-start"
          />

          <div
            class="border border-gray-300 rounded-lg p-5 flex items-center gap-6 -mt-3"
          >
            <div class="bg-primary-50 rounded-full size-28 overflow-hidden">
              <img
                src="/assets/images/instructor_image_1.png"
                alt="hero"
                class="w-full h-full object-cover mt-2"
              />
            </div>

            <div>
              <h4 class="text-2xl capitalize font-semibold text-primary">
                james smith
              </h4>

              <p
                class="text-secondary-100 text-xs mb-2 capitalize font-semibold"
              >
                Software developer
              </p>
              <p class="text-xs text-secondary-100">
                BSc in CSE (BRAC University)
              </p>
              <p class="text-secondary-100 text-xs">
                Msc in CSE (North South University)
              </p>
            </div>
          </div>
        </div>

        <!-- Course Structure -->
        <div>
          <app-heading
            [title]="'How the course is structured'"
            class="text-2xl font-semibold text-secondary-100 flex justify-start"
          />

          <div
            class="-mt-3 bg-success border border-green-400 rounded-lg p-5 grid lg:grid-cols-2 grid-cols-1 gap-5"
          >
            <div
              *ngFor="let item of [1, 2, 3, 4]; let i = index"
              class="flex gap-4"
            >
              <div>
                <div
                  class="size-10 bg-blue-400 text-neutral rounded-full flex justify-center items-center"
                >
                  <ng-container *ngIf="i === 0">
                    <app-icon-play />
                  </ng-container>
                  <ng-container *ngIf="i === 1">
                    <app-icon-document />
                  </ng-container>
                  <ng-container *ngIf="i === 2">
                    <app-icon-reading />
                  </ng-container>
                  <ng-container *ngIf="i === 3">
                    <app-icon-live />
                  </ng-container>
                </div>
              </div>

              <div>
                <h4 class="text-xl font-semibold text-green-600 mb-2">
                  {{
                    i === 0
                      ? "50+ video lectures"
                      : i === 1
                      ? "38 lecture sheets"
                      : i === 2
                      ? "Reading and listening test"
                      : "Doubt solving live class"
                  }}
                </h4>

                <p class="text-gray-600 text-sm">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel
                  quis suscipit alias.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Course Syllabus -->
        <div>
          <app-heading
            [title]="'Course syllabus'"
            class="text-2xl font-semibold text-secondary-100 capitalize flex justify-start"
          />

          <div class="border border-gray-300 rounded-lg p-5 -mt-3">
            <app-accordion
              *ngFor="let item of accordionItems; let i = index"
              [index]="i"
              [title]="item.title"
              [activeIndex]="activeIndex"
              (onToggle)="toggleAccordion(i)"
              [description]="item.description"
            />
          </div>
        </div>

        <!-- Course Description -->
        <div>
          <app-heading
            [title]="'Details about the course'"
            class="text-2xl font-semibold text-secondary-100 flex justify-start"
          />

          <p class="-mt-3 text-gray-600 text-sm text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
            sapiente unde voluptatibus at minima totam pariatur et porro,
            eveniet praesentium deserunt rerum voluptate perspiciatis quae
            veniam in maxime, molestias harum, id deleniti. Nulla libero dolorem
            non maiores dignissimos autem, eaque esse doloribus odio incidunt
            repudiandae asperiores quo ipsam atque consequatur adipisci
            voluptatum dolorum sint deleniti ipsum cupiditate, ratione neque?
            Nobis repellat sed error quisquam eveniet! Velit doloremque cumque
            vel cupiditate omnis sapiente asperiores eos suscipit quasi? Odio
            facilis, doloremque laudantium molestiae modi earum consequuntur
            deserunt accusamus adipisci in nulla molestias quo quae nihil
            impedit iste suscipit voluptatibus cum dolor soluta.
          </p>
        </div>

        <!-- Any More Questions -->
        <div>
          <app-heading
            [title]="'any more questions?'"
            class="text-2xl font-semibold text-secondary-100 capitalize flex justify-start"
          />

          <div
            class="border border-gray-300 md:w-[300px] rounded-lg p-5 -mt-3 flex items-center gap-3 justify-center text-center text-green-600 capitalize text-xl"
          >
            <app-icon-call />
            <p>call 01518456520</p>
          </div>
        </div>
      </div>

      <!-- Right Info -->
      <div class="md:col-span-1">
        <div class="md:sticky top-20">
          <div class="border border-gray-300 rounded-lg lg:p-5 p-3">
            <h3 class="text-3xl text-primary font-bold">
              <span class="text-xl text-secondary-100">Price:</span> $300
            </h3>

            <p class="text-sm text-gray-600 mb-6">
              Batch 1: July 4, 2025 - August 29, 2025
            </p>

            <button
              class="w-full bg-primary py-3 text-center text-neutral text-lg font-semibold border border-primary hover:bg-primary-50 hover:text-secondary-100 duration-300 ease-in-out transition-all lg:mb-14 mb-8"
            >
              Buy the course
            </button>

            <div>
              <h3 class="text-xl font-semibold text-secondary-100 mb-4">
                What's in this course
              </h3>

              <div
                *ngFor="let item of [1, 2, 3]; let i = index"
                class="flex gap-4 mb-2"
              >
                <div>
                  <p
                    class="size-7 flex items-center justify-center rounded-full bg-primary-50 text-primary text-sm"
                  >
                    {{ i + 1 }}
                  </p>
                </div>

                <p class="text-sm text-gray-600 mb-2">
                  {{
                    i === 0
                      ? "Course duration 3 months"
                      : i === 1
                      ? "The recorded video of the class is valid for 6 months."
                      : " Facebook support group."
                  }}
                </p>
              </div>
            </div>
          </div>

          <div class="flex justify-between flex-wrap items-center mt-2">
            <p class="text-sm text-gray-600">To know more about the course</p>
            <div class="text-green-600 text-sm flex items-center gap-6">
              <a href="tel:01518456520" class="underline">call - 01518456520</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
