<section class="2xl:px-40 xl:px-20 md:px-4 px-2 py-10">
  <app-heading [title]="'Recently added courses'" [isBorder]="true" />

  <div
    class="grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6"
  >
    <app-card
      *ngFor="let course of courseData.slice(0, 4); let i = index"
      [rating]="course.rating"
      [price]="course.price"
      [title]="course.title"
      [student]="course.student + ' students'"
      [link]="'/courses/' + course.title"
      [titleClass]="
        (i === 0
          ? 'bg-secondary text-primary'
          : i === 1
          ? 'bg-secondary-75 text-blue-500'
          : i === 2
          ? 'bg-secondary-75 text-secondary-30'
          : 'bg-warning text-warning') + ' px-2 py-1 text-sm capitalize'
      "
      [image]="course.img"
      [description]="course.desc"
    />
  </div>

  <div class="mt-10">
    <app-link-tag
      [title]="'View all courses &#8594;'"
      [link]="'/courses'"
      [class]="
        'bg-primary-50 text-primary hover:bg-primary hover:text-neutral duration-300 ease-out transition w-[180px] text-center mx-auto py-3 block text-sm font-semibold'
      "
    />
  </div>
</section>
